# Ignore local dependency directories
node_modules/
frontend/node_modules/
backend/target/
frontend/dist/
frontend/.angular/
.angular/
dist/
target/

# Ignore git & temp files
.git/
.vscode/
.idea/
stitch_design/
*.log
